<head>
  <link rel="stylesheet" href="/css/index.css" />
</head>
<body>
  <h1>Welcome to the server!!</h1>
  <br />
  <br />
  <div class="in">
    <fieldset>
      <legend>Upload File</legend>
      <form action="/uploadFile" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" multiple />
        <br />
        <br />
        <button type="submit">Upload</button>
      </form>
    </fieldset>
    <fieldset class="list">
      <legend>Existing File In Uploads</legend>
      <ul>
        <% upFile.forEach(elem => { %>
        <li>
          <%=elem%>
          <div>
            <button>
              <a style="text-decoration: none" href="/downloadFile/<%=elem%>" download="<%=elem%>"
                >Download</a
              >
            </button>
            <button>
              <a style="text-decoration: none" href="/deleteFile/<%=elem%>">Delete</a>
            </button>
          </div>
        </li>
        <% }) %>
      </ul>
    </fieldset>
  </div>
</body>
